<ion-header>
  <ion-toolbar>
    <div style="padding-left: 1rem; display: flex; align-items: center">
      <ion-icon
        (click)="goBack()"
        style="font-size: 22px"
        name="arrow-back-outline"
      ></ion-icon>
      <ion-title>Asi somos asi bailamos</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [hidden]="!mn">
    <div
      class="contenedor"
    >
      <div
        class="box"
        [ngStyle]="{
          'background-image': 'url(' + backgroundImage + ')',
          'background-blend-mode': 'soft-light',
          'background-size': 'cover',
          'background-position': 'center'
        }"
      >
        <div>
          <h1 class="titulo">Asi somos asi Bailamos Corinto</h1>
          <div>
            <p class="align">
              Sumérgete en el corazón de Corinto, Cauca, a través de esta
              conmovedora recopilación de ensayos, presentaciones, eventos,
              imágenes y música, protagonizados por nuestros queridos jóvenes.
              Cada momento capturado refleja la dedicación, el talento y la
              pasión de nuestros muchachos, quienes con su esfuerzo y
              creatividad han dejado una huella imborrable en nuestra comunidad.
            </p>
          </div>
          <div class="msj">
            Gracias a todos espero lo disfruten tanto como yo!!.
          </div>
          <aside>
            <footer class="pie">
              <a
                class="foo"
                href="https://www.facebook.com/profile.php?id=100013672369598"
                ><ion-icon name="logo-facebook"></ion-icon> by Edwin 2022</a
              >
            </footer>
          </aside>
        </div>
      </div>
    </div>
  </div>

  <div [hidden]="!im">
    <app-asomos-imagenes></app-asomos-imagenes>
  </div>
  <div [hidden]="!vd">
    <app-asomos-videos></app-asomos-videos>
  </div>
  <div [hidden]="!ms">
    <app-asomos-musica></app-asomos-musica>
  </div>
</ion-content>

<ion-tab-bar slot="bottom">
  <ion-tab-button (click)="main()" [ngClass]="{ 'tab-selected': mn }">
    <ion-icon name="heart-half-outline"></ion-icon>
    <ion-label>Principal</ion-label>
  </ion-tab-button>

  <ion-tab-button (click)="images()" [ngClass]="{ 'tab-selected': im }">
    <ion-icon name="images-outline"></ion-icon>
    <ion-label>Imagenes</ion-label>
  </ion-tab-button>

  <ion-tab-button (click)="videos()" [ngClass]="{ 'tab-selected': vd }">
    <ion-icon name="videocam-outline"></ion-icon>
    <ion-label>Videos</ion-label>
  </ion-tab-button>

  <ion-tab-button (click)="musica()" [ngClass]="{ 'tab-selected': ms }">
    <ion-icon name="musical-notes-outline"></ion-icon>
    <ion-label>Musica</ion-label>
  </ion-tab-button>
</ion-tab-bar>
