<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Asomos</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item (click)="salir()">Salir</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <div style="display: flex">
        <ion-avatar style="width: 45px; height: 45px">
          <img
            alt="Silhouette of a person's head"
            [src]="
              foto || 'https://ionicframework.com/docs/img/demos/avatar.svg'
            "
          />
        </ion-avatar>
        <ion-title>¡Hola {{ usuarioActual }}!</ion-title>
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div [hidden]="!mn">
      <app-features></app-features>
    </div>
    <div [hidden]="!im">
      <div>
        <app-grupos></app-grupos>
      </div>
    </div>
    <div [hidden]="!vd">perfil</div>
  </ion-content>
  <ion-tab-bar slot="bottom">
    <ion-tab-button (click)="main()" [ngClass]="{ 'tab-selected': mn }">
      <ion-icon name="grid-outline"></ion-icon>
      <ion-label>Features</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="images()" [ngClass]="{ 'tab-selected': im }">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Grupos</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="videos()" [ngClass]="{ 'tab-selected': vd }">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</div>
