<ion-app>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Asomos</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list>
        <ion-item (click)="salir()">Salir</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <div style="display: flex;">
          <ion-avatar style="width: 45px; height: 45px;">
            <img
              alt="Silhouette of a person's head"
              [src]="foto || 'https://ionicframework.com/docs/img/demos/avatar.svg'"
            />
          </ion-avatar>
          <ion-title>¡Hola {{usuarioActual}}!</ion-title>
        </div>

      </ion-toolbar>
    </ion-header>
  </div>
</ion-app>
