<div
  style="
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
  "
>
  <div
    style="row-gap: 2rem; display: flex; flex-direction: column"
    class="container-img-g"
  >
    <div
      style="text-align: center; display: flex; flex-direction: column"
      class="bf"
    >
      <img
        style="cursor: pointer"
        routerLink="/main"
        width="120"
        src="https://firebasestorage.googleapis.com/v0/b/fitpal-horario.appspot.com/o/fondos%2FScreen%20Shot%202024-05-06%20at%2011.43.48%20AM.png?alt=media&token=c0c71fed-4aff-4923-8663-9d91d1f9f4df"
        alt=""
      />
      <span>Asi somos</span>
    </div>
    <div
      style="text-align: center; display: flex; flex-direction: column"
      class="bf bf2"
    >
      <img
      (click)="navegarActivate()"
        style="cursor: pointer"
        width="120"
        src="https://firebasestorage.googleapis.com/v0/b/fitpal-horario.appspot.com/o/fondos%2Factivate-logo.jpeg?alt=media&token=28baeec7-81b9-42a8-845d-3e226031f3ba"
        alt=""
      />
      <span>Actividad Fisica</span>
    </div>
  </div>
</div>

