<div class="ion-padding" id="container">
  <div>
    <div *ngIf="!esInvitado" class="mb-18">
      <form (ngSubmit)="publicar()">
        <ion-list class="ion-rounded">
          <ion-item>
            <ion-textarea
              label="Publicar nota..."
              labelPlacement="floating"
              fill="solid"
              placeholder="Escribe una publicación"
              name="infoText"
              rows="0"
              cols="50"
              [(ngModel)]="infoText"
              required
            ></ion-textarea>
          </ion-item>
        </ion-list>
        <div class="ion-text-end">
          <ion-button
            color="tertiary"
            class="btn2"
            type="submit"
            [disabled]="!infoText || !infoText.trim()"
          >
            Publicar
          </ion-button>
        </div>
      </form>
    </div>

    <div *ngFor="let p of post; let i = index">
      <ion-card *ngIf="isUrl(p.post)">
        <ion-card-header style="padding-right: 6px">
          <div style="display: flex; gap: 1rem">
            <ion-avatar
              style="width: 45px; height: 45px"
              (click)="verUsuario(p.uid)"
            >
              <img [src]="p.foto" alt="foto" />
            </ion-avatar>
            <ion-label (click)="verUsuario(p.uid)">
              <h2>{{ p.usuario }}</h2>
              <p>{{ p.date }}</p>
            </ion-label>
            <ion-icon
              (click)="opciones(i, p)"
              name="ellipsis-vertical"
              class="ion-icon-lg"
            ></ion-icon>
          </div>
        </ion-card-header>

        <ion-card-content style="text-align: center">
          <ion-img
            (click)="abrir(p.post)"
            [src]="p.post"
            alt="Imagen del mensaje"
          ></ion-img>
          <div
            style="display: flex; gap: 1rem"
            class="ion-padding-top ion-justify-content-center ion-align-items-center"
          >
            <div>
              <ion-icon
                (click)="abrirCom2(p)"
                name="chatbubble-ellipses-outline"
              ></ion-icon>
              <span>{{ p.commentsVideo.length }}</span>
            </div>
            <div>
              <ion-icon
                [class.liked]="p.likedByImage.includes(currentUser?.uid)"
                name="heart-outline"
                (click)="likeImage2(p)"
              ></ion-icon>
              <span>{{ p.likesCountImage }}</span>
            </div>
          </div>
        </ion-card-content>
      </ion-card>

      <!-- Si no es una URL -->
      <ion-card *ngIf="!isUrl(p.post)">
        <ion-card-header style="padding-right: 6px">
          <div style="display: flex; gap: 1rem">
            <ion-avatar
              style="width: 45px; height: 45px"
              (click)="verUsuario(p.uid)"
            >
              <img [src]="p.foto" alt="foto" />
            </ion-avatar>
            <ion-label (click)="abrirVideos(p.uid)">
              <h2>{{ p.usuario }}</h2>
              <p>{{ p.date }}</p>
            </ion-label>
            <ion-icon
              (click)="opciones(i, p)"
              name="ellipsis-vertical"
              class="ion-icon-lg"
            ></ion-icon>
          </div>
        </ion-card-header>

        <ion-card-content style="text-align: center">
          <p (click)="abrirVideos(p.uid)">{{ p.post }}</p>
          <div
            style="display: flex; gap: 1rem"
            class="ion-padding-top ion-justify-content-center ion-align-items-center"
          >
            <div>
              <ion-icon
                (click)="abrirCom2(p)"
                name="chatbubble-ellipses-outline"
              ></ion-icon>
              <span>{{ p.commentsVideo.length }}</span>
            </div>
            <div>
              <ion-icon
                [class.liked]="p.likedByImage.includes(currentUser?.uid)"
                name="heart-outline"
                (click)="likeImage2(p)"
              ></ion-icon>
              <span>{{ p.likesCountImage }}</span>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </div>

    <div *ngIf="mostrarBotonCargarMas" class="ion-padding-vertical">
      <ion-button expand="block" (click)="loadMore()" color="primary">
        Cargar más...
      </ion-button>
    </div>

    <div *ngIf="mostrarMensajeNoMasPublicaciones" class="ion-text-center">
      <p>No hay más publicaciones.</p>
    </div>
  </div>

  <div *ngIf="abrirFoto" class="full-screen-container">
    <span class="close-button" (click)="cerrar()">X</span>
    <div class="image-container">
      <img [src]="lafoto" alt="Imagen del mensaje" class="full-screen-image" />
    </div>
  </div>

  <ion-modal
    #modal
    trigger="open-modal"
    [presentingElement]="presentingElement"
  >
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Comentarios</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeModal()">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <div class="modal-com ion-padding">
          <ion-list>
            <ion-item
              *ngFor="let comment of dataVideoId2.commentsVideo; let i = index"
            >
              <ion-avatar slot="start" (click)="verUsuario(comment.idUser)">
                <img
                  [src]="
                    comment.imagen ||
                    'https://forma-architecture.com/wp-content/uploads/2021/04/Foto-de-perfil-vacia-thegem-person.jpg'
                  "
                  alt="Foto de perfil"
                />
              </ion-avatar>
              <ion-label>
                <h2>{{ comment.usuario }}</h2>
                <p>{{ comment.comentario }}</p>
              </ion-label>
              <ion-icon
                [class.liked]="
                  comment.likedByComment?.includes(currentUser.uid)
                "
                name="heart-outline"
                (click)="likeComment2(comment)"
              ></ion-icon>
              <span>{{ comment.likesCountComment }}</span>
              <ion-icon
                (click)="opciones2(i, comment)"
                name="ellipsis-vertical"
              ></ion-icon>
            </ion-item>
          </ion-list>
        </div>
      </ion-content>
      <div *ngIf="showEmoticonSection" class="emoticon-section">
        <div class="emoticon">
          <span (click)="addEmoji('😊')">😊</span>
          <span (click)="addEmoji('😂')">😂</span>
          <span (click)="addEmoji('😁')">😁</span>
          <span (click)="addEmoji('🙂')">🙂</span>
          <span (click)="addEmoji('😎')">😎</span>
          <span (click)="addEmoji('😉')">😉</span>
          <span (click)="addEmoji('😌')">😌</span>
          <span (click)="addEmoji('🥰')">🥰</span>
          <span (click)="addEmoji('😘')">😘</span>
          <span (click)="addEmoji('😍')">😍</span>
          <span (click)="addEmoji('😅')">😅</span>
          <span (click)="addEmoji('😜')">😜</span>
          <span (click)="addEmoji('😝')">😝</span>
          <span (click)="addEmoji('🤪')">🤪</span>
          <span (click)="addEmoji('🤗')">🤗</span>
          <span (click)="addEmoji('😚')">😚</span>
          <span (click)="addEmoji('🤓')">🤓</span>
          <span (click)="addEmoji('😤')">😤</span>
          <span (click)="addEmoji('🤬')">🤬</span>
          <span (click)="addEmoji('😡')">😡</span>
          <span (click)="addEmoji('😢')">😢</span>
          <span (click)="addEmoji('😭')">😭</span>
          <span (click)="addEmoji('😱')">😱</span>
          <span (click)="addEmoji('😳')">😳</span>
          <span (click)="addEmoji('😋')">😋</span>
          <span (click)="addEmoji('🥳')">🥳</span>
          <span (click)="addEmoji('😴')">😴</span>
          <span (click)="addEmoji('😇')">😇</span>
          <span (click)="addEmoji('😈')">😈</span>
          <span (click)="addEmoji('🤯')">🤯</span>
          <span (click)="addEmoji('🤩')">🤩</span>
          <span (click)="addEmoji('🥺')">🥺</span>
          <span (click)="addEmoji('😐')">😐</span>
          <span (click)="addEmoji('😬')">😬</span>
          <span (click)="addEmoji('😵')">😵</span>
          <span (click)="addEmoji('🤔')">🤔</span>
          <span (click)="addEmoji('😖')">😖</span>
          <span (click)="addEmoji('😣')">😣</span>
          <span (click)="addEmoji('😞')">😞</span>
          <span (click)="addEmoji('😔')">😔</span>
          <span (click)="addEmoji('😓')">😓</span>
          <span (click)="addEmoji('🙄')">🙄</span>
          <span (click)="addEmoji('😪')">😪</span>
          <span (click)="addEmoji('🤤')">🤤</span>
          <span (click)="addEmoji('😷')">😷</span>
          <span (click)="addEmoji('🤒')">🤒</span>
          <span (click)="addEmoji('🤕')">🤕</span>
          <span (click)="addEmoji('🤢')">🤢</span>
          <span (click)="addEmoji('🤮')">🤮</span>
          <span (click)="addEmoji('🤧')">🤧</span>
          <span (click)="addEmoji('🥴')">🥴</span>
          <span (click)="addEmoji('🤑')">🤑</span>
          <span (click)="addEmoji('🤠')">🤠</span>
          <span (click)="addEmoji('🤙')">🤙</span>
          <span (click)="addEmoji('🤘')">🤘</span>
          <span (click)="addEmoji('👍')">👍</span>
          <span (click)="addEmoji('👎')">👎</span>
          <span (click)="addEmoji('🤞')">🤞</span>
          <span (click)="addEmoji('✌️')">✌️</span>
          <span (click)="addEmoji('🤟')">🤟</span>
          <span (click)="addEmoji('👌')">👌</span>
          <span (click)="addEmoji('👋')">👋</span>
          <span (click)="addEmoji('🤚')">🤚</span>
          <span (click)="addEmoji('🖐️')">🖐️</span>
          <span (click)="addEmoji('✋')">✋</span>
          <span (click)="addEmoji('🖖')">🖖</span>
          <span (click)="addEmoji('👊')">👊</span>
          <span (click)="addEmoji('✊')">✊</span>
          <span (click)="addEmoji('🤛')">🤛</span>
          <span (click)="addEmoji('🤜')">🤜</span>
          <span (click)="addEmoji('🤝')">🤝</span>
          <span (click)="addEmoji('💪')">💪</span>
          <span (click)="addEmoji('🦾')">🦾</span>
          <span (click)="addEmoji('🦿')">🦿</span>
          <span (click)="addEmoji('🦵')">🦵</span>
          <span (click)="addEmoji('🦶')">🦶</span>
          <span (click)="addEmoji('👂')">👂</span>
          <span (click)="addEmoji('🦻')">🦻</span>
          <span (click)="addEmoji('👃')">👃</span>
          <span (click)="addEmoji('🐻')">🐻</span>
          <span (click)="addEmoji('🐰')">🐰</span>
          <span (click)="addEmoji('🐱')">🐱</span>
          <span (click)="addEmoji('🐶')">🐶</span>
          <span (click)="addEmoji('🐭')">🐭</span>
          <span (click)="addEmoji('🐹')">🐹</span>
          <span (click)="addEmoji('🐷')">🐷</span>
          <span (click)="addEmoji('🐮')">🐮</span>
          <span (click)="addEmoji('🐯')">🐯</span>
          <span (click)="addEmoji('🐨')">🐨</span>
          <span (click)="addEmoji('🧠')">🧠</span>
          <span (click)="addEmoji('🦷')">🦷</span>
          <span (click)="addEmoji('🦴')">🦴</span>
          <span (click)="addEmoji('👀')">👀</span>
          <span (click)="addEmoji('👁️')">👁️</span>
          <span (click)="addEmoji('🧿')">🧿</span>
          <span (click)="addEmoji('👅')">👅</span>
          <span (click)="addEmoji('👄')">👄</span>
          <span (click)="addEmoji('👶')">👶</span>
          <span (click)="addEmoji('🧒')">🧒</span>
          <span (click)="addEmoji('👦')">👦</span>
          <span (click)="addEmoji('👧')">👧</span>
          <span (click)="addEmoji('🧑')">🧑</span>
          <span (click)="addEmoji('👱‍♂️')">👱‍♂️</span>
          <span (click)="addEmoji('👱')">👱</span>
          <span (click)="addEmoji('👨')">👨</span>
          <span (click)="addEmoji('🧔')">🧔</span>
          <span (click)="addEmoji('👨‍🦰')">👨‍🦰</span>
          <span (click)="addEmoji('👨‍🦱')">👨‍🦱</span>
          <span (click)="addEmoji('👨‍🦳')">👨‍🦳</span>
          <span (click)="addEmoji('👨‍🦲')">👨‍🦲</span>
          <span (click)="addEmoji('🧔')">🧔</span>
          <span (click)="addEmoji('👩')">👩</span>
          <span (click)="addEmoji('👩‍🦰')">👩‍🦰</span>
          <span (click)="addEmoji('👩‍🦱')">👩‍🦱</span>
          <span (click)="addEmoji('👩‍🦳')">👩‍🦳</span>
          <span (click)="addEmoji('👩‍🦲')">👩‍🦲</span>
          <span (click)="addEmoji('👱‍♀️')">👱‍♀️</span>
          <span (click)="addEmoji('👱‍♀️')">👱‍♀️</span>
          <span (click)="addEmoji('👱‍♀️')">👱‍♀️</span>
          <span (click)="addEmoji('🧑‍🦰')">🧑‍🦰</span>
          <span (click)="addEmoji('🧑‍🦱')">🧑‍🦱</span>
          <span (click)="addEmoji('🧑‍🦳')">🧑‍🦳</span>
          <span (click)="addEmoji('🧑‍🦲')">🧑‍🦲</span>
          <span (click)="addEmoji('👦')">👦</span>
          <span (click)="addEmoji('👦')">👦</span>
          <span (click)="addEmoji('👦')">👦</span>
          <span (click)="addEmoji('👦')">👦</span>
          <span (click)="addEmoji('👧')">👧</span>
          <span (click)="addEmoji('👧')">👧</span>
          <span (click)="addEmoji('👧')">👧</span>
          <span (click)="addEmoji('👧')">👧</span>
          <span (click)="addEmoji('🧒')">🧒</span>
          <span (click)="addEmoji('🧒')">🧒</span>
          <span (click)="addEmoji('🧒')">🧒</span>
          <span (click)="addEmoji('🧒')">🧒</span>
          <span (click)="addEmoji('👶')">👶</span>
          <span (click)="addEmoji('👶')">👶</span>
          <span (click)="addEmoji('👶')">👶</span>
          <span (click)="addEmoji('👶')">👶</span>
          <span (click)="addEmoji('👨')">👨</span>
          <span (click)="addEmoji('👨')">👨</span>
          <span (click)="addEmoji('👨')">👨</span>
          <span (click)="addEmoji('👨')">👨</span>
          <span (click)="addEmoji('👩')">👩</span>
          <span (click)="addEmoji('👩')">👩</span>
          <span (click)="addEmoji('👩')">👩</span>
          <span (click)="addEmoji('👩')">👩</span>
          <span (click)="addEmoji('🧑')">🧑</span>
          <span (click)="addEmoji('🧑')">🧑</span>
          <span (click)="addEmoji('🧑')">🧑</span>
          <span (click)="addEmoji('🧑')">🧑</span>
          <span (click)="addEmoji('👨‍🦰')">👨‍🦰</span>
          <span (click)="addEmoji('👨‍🦰')">👨‍🦰</span>
          <span (click)="addEmoji('👨‍🦰')">👨‍🦰</span>
          <span (click)="addEmoji('👨‍🦱')">👨‍🦱</span>
          <span (click)="addEmoji('👨‍🦱')">👨‍🦱</span>
          <span (click)="addEmoji('👨‍🦱')">👨‍🦱</span>
          <span (click)="addEmoji('👨‍🦳')">👨‍🦳</span>
          <span (click)="addEmoji('👨‍🦳')">👨‍🦳</span>
          <span (click)="addEmoji('👨‍🦳')">👨‍🦳</span>
          <span (click)="addEmoji('👨‍🦲')">👨‍🦲</span>
          <span (click)="addEmoji('👨‍🦲')">👨‍🦲</span>
          <span (click)="addEmoji('👨‍🦲')">👨‍🦲</span>
          <span (click)="addEmoji('👱‍♂️')">👱‍♂️</span>
          <span (click)="addEmoji('👱‍♂️')">👱‍♂️</span>
          <span (click)="addEmoji('👱‍♂️')">👱‍♂️</span>
          <span (click)="addEmoji('👱‍♀️')">👱‍♀️</span>
          <span (click)="addEmoji('👱‍♀️')">👱‍♀️</span>
          <span (click)="addEmoji('👱‍♀️')">👱‍♀️</span>
          <span (click)="addEmoji('🧓')">🧓</span>
          <span (click)="addEmoji('🧔')">🧔</span>
          <span (click)="addEmoji('👴')">👴</span>
          <span (click)="addEmoji('👵')">👵</span>
          <span (click)="addEmoji('👨‍⚕️')">👨‍⚕️</span>
          <span (click)="addEmoji('👩‍⚕️')">👩‍⚕️</span>
          <span (click)="addEmoji('👨‍🎓')">👨‍🎓</span>
          <span (click)="addEmoji('👩‍🎓')">👩‍🎓</span>
          <span (click)="addEmoji('👨‍🏫')">👨‍🏫</span>
          <span (click)="addEmoji('👩‍🏫')">👩‍🏫</span>
          <span (click)="addEmoji('👨‍⚖️')">👨‍⚖️</span>
          <span (click)="addEmoji('👩‍⚖️')">👩‍⚖️</span>
          <span (click)="addEmoji('👨‍🌾')">👨‍🌾</span>
          <span (click)="addEmoji('👩‍🌾')">👩‍🌾</span>
          <span (click)="addEmoji('👨‍🍳')">👨‍🍳</span>
          <span (click)="addEmoji('👩‍🍳')">👩‍🍳</span>
          <span (click)="addEmoji('👨‍🔧')">👨‍🔧</span>
          <span (click)="addEmoji('👩‍🔧')">👩‍🔧</span>
          <span (click)="addEmoji('👨‍🏭')">👨‍🏭</span>
          <span (click)="addEmoji('👩‍🏭')">👩‍🏭</span>
          <span (click)="addEmoji('👨‍💼')">👨‍💼</span>
          <span (click)="addEmoji('👩‍💼')">👩‍💼</span>
          <span (click)="addEmoji('👨‍🔬')">👨‍🔬</span>
          <span (click)="addEmoji('👩‍🔬')">👩‍🔬</span>
          <span (click)="addEmoji('👨‍💻')">👨‍💻</span>
          <span (click)="addEmoji('👩‍💻')">👩‍💻</span>
          <span (click)="addEmoji('👨‍🎤')">👨‍🎤</span>
          <span (click)="addEmoji('👩‍🎤')">👩‍🎤</span>
          <span (click)="addEmoji('👨‍🎨')">👨‍🎨</span>
          <span (click)="addEmoji('👩‍🎨')">👩‍🎨</span>
          <span (click)="addEmoji('👨‍✈️')">👨‍✈️</span>
          <span (click)="addEmoji('👩‍✈️')">👩‍✈️</span>
          <span (click)="addEmoji('👨‍🚀')">👨‍🚀</span>
          <span (click)="addEmoji('👩‍🚀')">👩‍🚀</span>
          <span (click)="addEmoji('👨‍🚒')">👨‍🚒</span>
          <span (click)="addEmoji('👩‍🚒')">👩‍🚒</span>
          <span (click)="addEmoji('👮')">👮</span>
          <span (click)="addEmoji('👮‍♂️')">👮‍♂️</span>
          <span (click)="addEmoji('👮‍♀️')">👮‍♀️</span>
          <span (click)="addEmoji('🕵️')">🕵️</span>
          <span (click)="addEmoji('🕵️‍♂️')">🕵️‍♂️</span>
          <span (click)="addEmoji('🕵️‍♀️')">🕵️‍♀️</span>
          <span (click)="addEmoji('💂')">💂</span>
          <span (click)="addEmoji('💂‍♂️')">💂‍♂️</span>
          <span (click)="addEmoji('💂‍♀️')">💂‍♀️</span>
          <span (click)="addEmoji('👷')">👷</span>
          <span (click)="addEmoji('👷‍♂️')">👷‍♂️</span>
          <span (click)="addEmoji('👷‍♀️')">👷‍♀️</span>
          <span (click)="addEmoji('🤴')">🤴</span>
          <span (click)="addEmoji('👸')">👸</span>
          <span (click)="addEmoji('👳')">👳</span>
          <span (click)="addEmoji('👳‍♂️')">👳‍♂️</span>
          <span (click)="addEmoji('👳‍♀️')">👳‍♀️</span>
          <span (click)="addEmoji('👲')">👲</span>
          <span (click)="addEmoji('🧕')">🧕</span>
          <span (click)="addEmoji('🤵')">🤵</span>
          <span (click)="addEmoji('🤵‍♂️')">🤵‍♂️</span>
          <span (click)="addEmoji('🤵‍♀️')">🤵‍♀️</span>
          <span (click)="addEmoji('👰')">👰</span>
          <span (click)="addEmoji('👰‍♂️')">👰‍♂️</span>
          <span (click)="addEmoji('👰‍♀️')">👰‍♀️</span>
          <span (click)="addEmoji('🤰')">🤰</span>
          <span (click)="addEmoji('🤱')">🤱</span>
          <span (click)="addEmoji('👩‍🍼')">👩‍🍼</span>
          <span (click)="addEmoji('👨‍🍼')">👨‍🍼</span>
          <span (click)="addEmoji('🧑‍🍼')">🧑‍🍼</span>
          <span (click)="addEmoji('👼')">👼</span>
          <span (click)="addEmoji('🎅')">🎅</span>
          <span (click)="addEmoji('🤶')">🤶</span>
          <span (click)="addEmoji('🦸')">🦸</span>
          <span (click)="addEmoji('🦸‍♂️')">🦸‍♂️</span>
          <span (click)="addEmoji('🦸‍♀️')">🦸‍♀️</span>
          <span (click)="addEmoji('🦹')">🦹</span>
          <span (click)="addEmoji('🦹‍♂️')">🦹‍♂️</span>
          <span (click)="addEmoji('🦹‍♀️')">🦹‍♀️</span>
          <span (click)="addEmoji('🧙')">🧙</span>
          <span (click)="addEmoji('🧙‍♂️')">🧙‍♂️</span>
          <span (click)="addEmoji('🧙‍♀️')">🧙‍♀️</span>
          <span (click)="addEmoji('🧚')">🧚</span>
          <span (click)="addEmoji('🧚‍♂️')">🧚‍♂️</span>
          <span (click)="addEmoji('🧚‍♀️')">🧚‍♀️</span>
          <span (click)="addEmoji('🧛')">🧛</span>
          <span (click)="addEmoji('🧛‍♂️')">🧛‍♂️</span>
          <span (click)="addEmoji('🧛‍♀️')">🧛‍♀️</span>
          <span (click)="addEmoji('🧜')">🧜</span>
          <span (click)="addEmoji('🧜‍♂️')">🧜‍♂️</span>
          <span (click)="addEmoji('🧜‍♀️')">🧜‍♀️</span>
          <span (click)="addEmoji('🧝')">🧝</span>
          <span (click)="addEmoji('🧝‍♂️')">🧝‍♂️</span>
          <span (click)="addEmoji('🧝‍♀️')">🧝‍♀️</span>
          <span (click)="addEmoji('🧞')">🧞</span>
          <span (click)="addEmoji('🧞‍♂️')">🧞‍♂️</span>
          <span (click)="addEmoji('🧞‍♀️')">🧞‍♀️</span>
          <span (click)="addEmoji('🧟')">🧟</span>
          <span (click)="addEmoji('🧟‍♂️')">🧟‍♂️</span>
          <span (click)="addEmoji('🧟‍♀️')">🧟‍♀️</span>
          <span (click)="addEmoji('💆')">💆</span>
          <span (click)="addEmoji('💆‍♂️')">💆‍♂️</span>
          <span (click)="addEmoji('💆‍♀️')">💆‍♀️</span>
          <span (click)="addEmoji('💇')">💇</span>
          <span (click)="addEmoji('💇‍♂️')">💇‍♂️</span>
          <span (click)="addEmoji('💇‍♀️')">💇‍♀️</span>
          <span (click)="addEmoji('🚶')">🚶</span>
          <span (click)="addEmoji('🚶‍♂️')">🚶‍♂️</span>
          <span (click)="addEmoji('🚶‍♀️')">🚶‍♀️</span>
          <span (click)="addEmoji('🧍')">🧍</span>
          <span (click)="addEmoji('🧍‍♂️')">🧍‍♂️</span>
          <span (click)="addEmoji('🧍‍♀️')">🧍‍♀️</span>
          <span (click)="addEmoji('🧎')">🧎</span>
          <span (click)="addEmoji('🧎‍♂️')">🧎‍♂️</span>
          <span (click)="addEmoji('🧎‍♀️')">🧎‍♀️</span>
          <span (click)="addEmoji('🧑‍🦯')">🧑‍🦯</span>
          <span (click)="addEmoji('👨‍🦯')">👨‍🦯</span>
          <span (click)="addEmoji('👩‍🦯')">👩‍🦯</span>
          <span (click)="addEmoji('🧑‍🦼')">🧑‍🦼</span>
          <span (click)="addEmoji('👨‍🦼')">👨‍🦼</span>
          <span (click)="addEmoji('👩‍🦼')">👩‍🦼</span>
          <span (click)="addEmoji('🧑‍🦽')">🧑‍🦽</span>
          <span (click)="addEmoji('👨‍🦽')">👨‍🦽</span>
          <span (click)="addEmoji('👩‍🦽')">👩‍🦽</span>
          <span (click)="addEmoji('🏃')">🏃</span>
          <span (click)="addEmoji('🏃‍♂️')">🏃‍♂️</span>
          <span (click)="addEmoji('🏃‍♀️')">🏃‍♀️</span>
          <span (click)="addEmoji('💃')">💃</span>
          <span (click)="addEmoji('💃‍♂️')">💃‍♂️</span>
          <span (click)="addEmoji('💃‍♀️')">💃‍♀️</span>
          <span (click)="addEmoji('🕺')">🕺</span>
          <span (click)="addEmoji('🕺')">🕺</span>
          <span (click)="addEmoji('🕺')">🕺</span>
          <span (click)="addEmoji('👯')">👯</span>
          <span (click)="addEmoji('👯‍♂️')">👯‍♂️</span>
          <span (click)="addEmoji('👯‍♀️')">👯‍♀️</span>
          <span (click)="addEmoji('🧖')">🧖</span>
          <span (click)="addEmoji('🧖‍♂️')">🧖‍♂️</span>
          <span (click)="addEmoji('🧖‍♀️')">🧖‍♀️</span>
          <span (click)="addEmoji('🧘')">🧘</span>
          <span (click)="addEmoji('🧘‍♂️')">🧘‍♂️</span>
          <span (click)="addEmoji('🧘‍♀️')">🧘‍♀️</span>
          <span (click)="addEmoji('🛀')">🛀</span>
          <span (click)="addEmoji('🛌')">🛌</span>
          <span (click)="addEmoji('🧑‍🤝‍🧑')">🧑‍🤝‍🧑</span>
          <span (click)="addEmoji('👭')">👭</span>
          <span (click)="addEmoji('👬')">👬</span>
          <span (click)="addEmoji('👫')">👫</span>
          <span (click)="addEmoji('👩‍❤️‍👩')">👩‍❤️‍👩</span>
          <span (click)="addEmoji('💑')">💑</span>
          <span (click)="addEmoji('👩‍❤️‍💋‍👩')">👩‍❤️‍💋‍👩</span>
          <span (click)="addEmoji('👨‍❤️‍💋‍👨')">👨‍❤️‍💋‍👨</span>
          <span (click)="addEmoji('👩‍❤️‍💋‍👨')">👩‍❤️‍💋‍👨</span>
          <span (click)="addEmoji('💏')">💏</span>
          <span (click)="addEmoji('👨‍❤️‍👨')">👨‍❤️‍👨</span>
          <span (click)="addEmoji('👨‍❤️‍👨')">👨‍❤️‍👨</span>
          <span (click)="addEmoji('👩‍❤️‍👩')">👩‍❤️‍👩</span>
          <span (click)="addEmoji('👨‍❤️‍👩')">👨‍❤️‍👩</span>
        </div>
      </div>
      <ion-tab-bar slot="bottom">
        <ion-item>
          <ion-button (click)="toggleEmoticonSection()">
            <ion-icon name="happy-outline"></ion-icon>
          </ion-button>
          <ion-textarea
            class="comm"
            aria-label="Comments"
            placeholder="Agregar un comentario"
            id="comentario"
            name="comentario"
            rows="4"
            cols="50"
            [(ngModel)]="comentario"
            required
          ></ion-textarea>
          <ion-button
            [disabled]="!comentario"
            (click)="addComment2(comentario)"
          >
            <ion-icon name="send-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-tab-bar>
    </ng-template>
  </ion-modal>
  <ion-alert
    trigger="present-alert"
    header="Please enter your info"
    [buttons]="alertButtons"
    [inputs]="alertInputs"
  ></ion-alert>
</div>
