<div class="container-main-login">
  <div class="container-login" *ngIf="!loading">
    <form
      class="login-form"
      (ngSubmit)="registrar()"
      [formGroup]="registrarUsuario"
      class="form-contenedor"
    >
      <div style="row-gap: 0px" class="title-login">
        <img
          style="width: 40%;"
          class="img-login"
          src="https://firebasestorage.googleapis.com/v0/b/fitpal-horario.appspot.com/o/fondos%2Fasomos.png?alt=media&token=ffa9b6c1-4157-4a5a-b588-95a267abe602"
          alt=""
        />
        <ion-title>Registrarse</ion-title>
      </div>
      <div style="row-gap: 1rem" class="input-login">
        <div>
          <ion-label>Nombre de usuario</ion-label>
          <ion-input
            type="text"
            name="username"
            fill="solid"
            placeholder="Nombre de usuario"
            labelPlacement="floating"
            errorText="El usuario es Requerido"
            input
            formControlName="username"
          ></ion-input>
        </div>
        <div>
          <ion-label>Correo electronico</ion-label>
          <ion-input
            type="email"
            name="email"
            fill="solid"
            placeholder="correo electronico"
            labelPlacement="floating"
            errorText="El correo electronico no es valido"
            email
            formControlName="email"
          ></ion-input>
        </div>
        <div>
          <ion-label>Contraseña</ion-label>
          <ion-input
            labelPlacement="floating"
            type="password"
            id="password"
            fill="solid"
            name="password"
            placeholder="Contraseña"
            formControlName="password"
            password
            ><ion-input-password-toggle slot="end"></ion-input-password-toggle
          ></ion-input>
          <span
            style="
              left: 1rem;
              position: relative;
              font-size: smaller;
              color: #e94a55;
            "
            *ngIf="
              registrarUsuario.get('password')?.hasError('required') &&
              registrarUsuario.get('password')?.touched
            "
            class="text-danger errorLabel"
            >La contraseña debe contener mas de 6 caracteres</span
          >
        </div>
        <div>
          <ion-label>Repetir contraseña</ion-label>
          <ion-input
            labelPlacement="floating"
            type="password"
            id="password"
            fill="solid"
            name="password"
            placeholder="Contraseña"
            formControlName="repetirPassword"
            password
            ><ion-input-password-toggle slot="end"></ion-input-password-toggle
          ></ion-input>
          <span
            style="
              left: 1rem;
              position: relative;
              font-size: smaller;
              color: #e94a55;
            "
            *ngIf="
              registrarUsuario.hasError('mismatch') &&
              registrarUsuario.get('repetirPassword')?.touched
            "
            class="text-danger errorLabel"
            >Las contraseñas no coinciden</span
          >
        </div>
      </div>

      <div class="direccion">
        <a class="enlace" routerLink="/recuperar">¿Olvidaste tu contraseña?</a>
        <a class="enlace" routerLink="/registrar">Registrarse</a>
      </div>
      <div
        style="
          row-gap: 1rem;
          margin-top: 3rem;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-around;
        "
        class="btn-login"
      >
        <ion-button
          (click)="goBack()"
          color="medium"
          type="button"
          >Volver</ion-button
        >
        <ion-button
          color="tertiary"
          type="submit"
          class="submit-button"
          [disabled]="registrarUsuario.invalid"
          >Registrarse</ion-button
        >
      </div>
    </form>
  </div>
  <div class="loading-container" *ngIf="loading">
    <img
          style="width: 90%;"
          class="img-login"
          src="https://firebasestorage.googleapis.com/v0/b/fitpal-horario.appspot.com/o/fondos%2Fasomos.png?alt=media&token=ffa9b6c1-4157-4a5a-b588-95a267abe602"
          alt=""
        />
      <ion-spinner color="tertiary"></ion-spinner>
    <span>Iniciando sesion...</span>
  </div>
</div>
